body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    font-size: 50px;
    background-color: rgb(112, 163, 112);
}
.color{
    color: black;
}
h2 {
    color: rgb(112, 63, 2);
    font-size: 80px;
}

main {
    /* border: 2px solid black; */
    margin-left: 110px;
}
img {
    width: 75%;
    display: block;
    margin:  auto;
}
.gen {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 900px;
    height: 300px;
}
.gen2 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    width: 880px;
    height: 300px;
    overflow: hidden;
    margin-right: 10px;
}
.gen3 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 600px;
    height: 290px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 100px;

}
.gen5 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    overflow: hidden;
}
p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.gen6 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    overflow: hidden;
}
div {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    overflow: hidden;
}

